In [12]:
import numpy as np
import pandas as pd

In [13]:
dates = pd.date_range("20250401",periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index = dates,columns=['A','B','C','D'])
print(df)

             A   B   C   D
2025-04-01   0   1   2   3
2025-04-02   4   5   6   7
2025-04-03   8   9  10  11
2025-04-04  12  13  14  15
2025-04-05  16  17  18  19
2025-04-06  20  21  22  23

In [14]:
df.iloc[0,1] = np.nan
df.iloc[1,2] = np.nan
print(df)

             A     B     C   D
2025-04-01   0   NaN   2.0   3
2025-04-02   4   5.0   NaN   7
2025-04-03   8   9.0  10.0  11
2025-04-04  12  13.0  14.0  15
2025-04-05  16  17.0  18.0  19
2025-04-06  20  21.0  22.0  23

1 通过.dropna()处理丢失数据

In [15]:
print(df.dropna(axis=0,how='any')) # axis=0为按行舍弃，how='any'表示舍弃方法为只要有一个为nan，就满足
print(df.dropna(axis=1,how='all')) # how='all'表示只有对应axis都为nan时，才会舍弃
df.iloc[:,1] = np.nan # 将B整列设置为nan
print(df.dropna(axis = 1,how='all')) # 可以发现按列和all的方法，舍弃了B整列

             A     B     C   D
2025-04-03   8   9.0  10.0  11
2025-04-04  12  13.0  14.0  15
2025-04-05  16  17.0  18.0  19
2025-04-06  20  21.0  22.0  23
             A     B     C   D
2025-04-01   0   NaN   2.0   3
2025-04-02   4   5.0   NaN   7
2025-04-03   8   9.0  10.0  11
2025-04-04  12  13.0  14.0  15
2025-04-05  16  17.0  18.0  19
2025-04-06  20  21.0  22.0  23
             A     C   D
2025-04-01   0   2.0   3
2025-04-02   4   NaN   7
2025-04-03   8  10.0  11
2025-04-04  12  14.0  15
2025-04-05  16  18.0  19
2025-04-06  20  22.0  23

.fillna(value) 以value填补nan

In [ ]:
print(df.fillna(value = 1))

             A    B     C   D
2025-04-01   0  1.0   2.0   3
2025-04-02   4  1.0   1.0   7
2025-04-03   8  1.0  10.0  11
2025-04-04  12  1.0  14.0  15
2025-04-05  16  1.0  18.0  19
2025-04-06  20  1.0  22.0  23

.isnull() 检查是否有数据缺失，返回bool

In [ ]:
print(df.isnull())
print(np.any(df.isnull()) == True) # 当数组特大的时候，可以配合np.any()==True，只要有一个丢失，就返回True

                A     B      C      D
2025-04-01  False  True  False  False
2025-04-02  False  True   True  False
2025-04-03  False  True  False  False
2025-04-04  False  True  False  False
2025-04-05  False  True  False  False
2025-04-06  False  True  False  False
True